@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .logo img {
    width: 120px;
  }
  header {
    padding: 35px 20px;
  }
  section {
    padding: 20px;
  }
  .welcome {
    height: 100vh;
  }
  .heading {
    width: 100%;
  }
  .heading h1 {
    font-size: 34px;
  }
  .getstarted {
    margin: auto;
    width: 95%;
  }
  .getstarted input[type=email] {
    width: 100%;
    margin-bottom: 15px;
  }
  .enjoy, .download, .watch, .create {
    height: auto;
  }
  .inner {
    width: 100%;
    position: static;
    transform: translate(0);
  }
  .desc,
  .preview {
    float: none;
    width: 100%;
    text-align: center;
  }
  .desc h2 {
    font-size: 30px;
  }
  .preview img {
    width: 100%;
    height: auto;
  }
  .faq {
    padding: 80px 20px;
  }
  .faq-inner {
    width: 100%;
  }
  .faq-inner h1 {
    font-size: 30px;
  }
  .footer-inner {
    width: 100%;
    padding: 0 20px;
  }
  .items {
    width: 48%;
    margin-bottom: 20px;
  }
  .login {
    width: 100%;
    padding: 60px;
  }
}